@font-face {
    font-family: Monaco;
    src: url(fonts/Monaco.dfont);
  }
html {
    background: black url(img/header.jpg) no-repeat center fixed; 
    background-size: cover;
}
.main {
  width: 100%;
  font-family: Monaco;
}
.text {
  color: white;
  text-align: left;
  padding: 15px;
}
.icons {
  padding: 15px;
}
.icon {
  display: inline-block;
  margin-right: 10px;
}
.icon img {
  width: 48px;
}
.clearfix {
  clear: both;
}